.infor {
  /* outline: 3px solid tomato; */
  display: flex;
  align-items: flex-start;
  gap: 0.56rem;
}

.AlbumName {
  /* outline: 3px solid tomato; */
  color: var(--neutral-color-white, #fff);
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 125%; /* 2.8125rem */
}

.singer {
  /* outline: 3px solid tomato; */
  color: var(--neutral-color-white, #fff);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%; /* 1.3125rem */
}

.fulltime {
  /* outline: 3px solid tomato; */
  color: var(--theme-color-secondary-lightest, #a49bb4);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%; /* 1.3125rem */
}

@media (width <= 768px) {
  .main {
    /* outline: 3px solid tomato; */
    padding: 0rem;
    border-radius: 0rem;
    background: none;
    width: 18rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .content {
    /* outline: 3px solid tomato; */
    display: flex;
    width: auto;
    height: auto;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    gap: auto;
  }

  .information {
    /* outline: 3px solid tomato; */
    color: white;
    height: auto;
    gap: 0.5rem;
  }

  .AlbumName {
    /* outline: 3px solid tomato; */
    color: var(--neutral-color-white, #fff);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 125%; /* 1.875rem */
  }
}
