.infor {
  /* outline: 3px solid tomato; */
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.AlbumName {
  /* outline: 3px solid tomato; */
  color: var(--text_white, #fff);
}

.singer {
  /* outline: 3px solid tomato; */
  color: var(--text_white, #fff);
}

.fulltime {
  /* outline: 3px solid tomato; */
  color: var(--primary_lightest);
}

@media (width <= 768px) {
  .main {
    /* outline: 3px solid tomato; */
    padding: 0rem;
    border-radius: 0rem;
    background: none;
    width: 18rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .content {
    /* outline: 3px solid tomato; */
    display: flex;
    width: auto;
    height: auto;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    gap: auto;
  }
}
