.nextPlay {
  /* outline: 3px solid tomato; */
  width: 100%;
  padding: 1.5rem;
  box-sizing: border-box;
  border-radius: 0rem 0rem 1rem 1rem;
  background: var(--primary_default);
  height: 100vh;
}

@media (width <= 1200px) {
  .nextPlay {
    /* outline: 3px solid tomato; */
    padding: 0rem;
    border-radius: 0rem;
    background: none;
    width: 100%;
    height: max-content;
  }
}
