.content {
  /* outline: 3px solid tomato; */
  width: 100%;
  flex-direction: column;
  align-self: stretch;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100% - 3rem);
}

.content::-webkit-scrollbar {
  width: 0.2rem; /* 设置滚动条宽度 */
}

.content::-webkit-scrollbar-thumb {
  background-color: var(--primary_lightest);
}

.content::-webkit-scrollbar-track {
  background-color: transparent; /* 设置滚动条背景颜色 */
}

@media (width <= 1200px) {
  .content {
    /* outline: 3px solid tomato; */
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    align-self: stretch;
    overflow-x: unset;
    overflow-y: unset;
    height: max-content;
  }
}
